html{
    font-family: 'Nunito Sans', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
}
.tittle{
    text-transform: uppercase;
    text-align: center;
}
.tittle-item{
    border-bottom: #12c2e9 solid 2px;
    padding-top: 1em;
    padding-bottom: 1em;
}
.position{
    background-color: #79d0e4;
    color: #fff;
    padding: 0.5em;
    border-radius: 2em;
    margin-right: 0.5em;
    font-size: 2em;
}
.address{
    font-weight: bold;
    color: #c471ed;
    font-size: 1.2em;
    margin-top: 2em;
    display: inline-block;
}
.main-image{
    float: left;
    margin-right: 1em;
    height: 300px;
}
.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}
.table{
    width: 100%;
    border-spacing: 0;
}
.table td, .table th{
    padding: 1em;
    text-align: left;

}
.table tr:nth-child(even){
    background-color: rgb(227, 163, 243);
}
.fa-star{
    color: #f64f59;
}
p{
    display: inline-block;
    color: rgb(48, 2, 38);
}
.container{
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    position: relative;
    overflow: scroll;
    padding: 1.8em;
}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}
.close{
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 50%;
    background-color: #c471ed;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boton{
    background-color: violet;
}
td{
    border:solid 1px;
}
@media (min-heigth:550px){
    .content{
        height: 500px;
    }
}
@media (max-width=600px) {
    .content{
        padding: 1em;
    }
    td{
        display: block;
        width: 100%;
    }
    td:nth-of-type(1){
        font-size: 1.5em;
        font-weight: bold;
        color: #c471ed;
    }
    th{
        display: none;
    }
}
@media (min-width=900px) {
    .content{
        padding: 1.8em;
    }
    td{
        display: table-cell;
        width: auto;
    }
    td:nth-of-type(1){
        font-size: 1em;
        font-weight: bold;
        color: #c471ed;
    }
    th{
        display: table-cell;
    }
}